body {

  /* background of the color of the website, light blue */
  background-color: lightblue;

}

title {

  color: rgba(red, green, blue, 1);

}
  
h1 {

  /* color of heading 1, navy blue */
  color: rgb(67, 67, 116);
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;

}

h2 {

  color: #f21
  margin: 25px 50px 75px 100px;

}

dl {

  color: hsl(red,green,blue);


}

p {

  color: hsla(red, green, orange, 1);


}


